<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.technovangelist.readwisesync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/matt.williams/bin/readwise</string>
    </array>
    <key>StartInterval</key>
    <integer>10</integer>
    <key>StandardErrorPath</key>
    <string>/Users/matt.williams/Library/Logs/technovangelist-sync.log</string>
    <key>StandardOutPath</key>
    <string>/Users/matt.williams/Library/Logs/technovangelist-sync.log</string>
</dict>
</plist>

